.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.recipe-container {
 background-color: white;
 border-radius: 3%;
 overflow: hidden;
 transition: 0.2s;
}

.recipe-container:hover{
  transform: scale(1.1);
}

body {
  background-color: whitesmoke;
  font-family: 'Great Vibes', cursive;
}

.recipe-pic {
  width: 750px;
  height: 540px;
  object-fit: cover;
}

.recipe-name {
  font-size: 32px;
  padding-left: 20px;
}
